# {{.Title}}

{{.Gemtext}}

──────────────────── 🦆 ──────────────────── 🦆 ──────────────────── 
Web page filtered and simplified by Quack Proxy. To view the original content, open the page in your system web browser.
=> {{.Url}} Source page